<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
</head>
<body>
    <table>
        <thead>
            <th>
                <td>Id</td>
                <td>Titulo</td>
                <td>Descrição</td>
                <td>Preço</td>
            </th>
        </thead>
        <tbody>
            <% lista.forEach( produto => { %>
                <tr>
                    <td><%=produto.id%></td>
                    <td><%=produto.titulo%></td>
                    <td><%=produto.descricao%></td>
                    <td><%=produto.preco%></td>
                </tr>
           <% })%>
        </tbody>
    </table>
</body>
</html>